<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!--配置Boss这个类的bean-->
    <bean id="boss" class="com.qls.test.Boss">
        <property name="car" ref="car"/>
        <property name="office" ref="office"/>
    </bean>
    <!--配置Car这个类的bean-->
    <bean id="car" class="com.qls.test.Car">
        <property name="brand" value="suv"/>
        <property name="price" value="90000"/>
    </bean>
    <!--配置Office这个类的bean-->
    <bean id="office" class="com.qls.test.Office">
        <property name="officeNo" value="0001"/>
    </bean>
</beans>

